@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
  background-color:#000;
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 30px;
}

.header-title{
  font-size:20px;
  font-weight:bold;
  color:#fff;
}

.header-list{
  display:flex;
}

.header-list li{
  padding:0px 10px;
}

.header-list a{
  font-size:12px;
  text-decoration:none;
  color:#fff;
}

#eyecatch{
  background:url(../../img/img/eyecatch.jpg) no-repeat;
  background-size:cover;
  height:600px;
  position:relative;
}

.eyecatch-title{
  position:absolute;
  color:#fff;
  font-size:35px;
  font-weight:bold;
  top:55%;
  left:10%;
  line-height:1;
  font-style:italic;
}

.eyecatch-news{
  position:absolute;
  bottom:0%;
  right:0%;
  display:flex;
  border-collapse:collapse;
  width:50%;
  height:60px;
}

.news-title{
  background-color:#fff;
  width:80%;
  font-size:14px;
}

.news-title p:last-of-type{
  padding:10px 0px 0px 10px;
}

.news{
  width:20%;
  position:relative;
  background-color:#000;
}

.news a{
  color:#fff;
  text-decoration:none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

#mission{
  position:relative;
  height:400px;
  background-color:#000;
  width:100%;
}

#mission .mission-text{
  position:absolute;
  height:150px;
  width:60%;
  top:0;
  bottom:0;
  right:300px;
  left:50px;
  margin:auto;
}

.mission-text h2,
.mission-text p{
  margin-bottom:30px;
  color:#fff;
}

.mission-text h2{
  font-size:20px;
}

.mission-text p{
  line-height:1.5em;
}

.mission-text a{
  text-decoration:none;
  color:#000;
  background-color:#fff;
  font-size:14px;
  padding:5px 10px;
}

#mission img{
  width:45%;
  height:auto;
  position:absolute;
  top:100px;
  left:600px;
}

#service{
  height:1100px;
  width:100%;
  margin-top:100px;
  background-color:#cccccc;
}

.service-title{
  text-align:center;
  padding:20px;
  font-weight:bold;
  font-size:30px;
}

.service-first{
  height:45%;
  margin-bottom:50px;
  position:relative;
}

.service-first img{
  width:50%;
  height:auto;
  position:absolute;
  top:0;
  right:0;
}

.service-first .service-text{
  font-size:12px;
  background-color:#fff;
  width:40%;
  height:120px;
  padding:60px 40px;
  position:absolute;
  top:55px;
  left:180px;
}

.service-text h3,
.service-text p:first-of-type{
  margin-bottom:20px;
}

.service-text p:last-of-type{
  line-height:1.4em;
}

.service-text button{
  font-size:10px;
  position:absolute;
  right:40px;
  background-color:#fff;
  margin-top:10px;
}

 .service-second{
  height:45%;
  position:relative;
}

.service-second img{
  width:50%;
  height:auto;
  position:absolute;
  top:0;
  left:0;
}

.service-second .service-text{
  font-size:12px;
  background-color:#fff;
  width:40%;
  height:120px;
  padding:60px 40px;
  position:absolute;
  top:55px;
  right:180px;
}

#company-recruit{
  display:flex;
  height:200px;
  width:100%;
  margin:100px 0px;
  justify-content:space-between;
}

.company{
  background:url(../../img/img/company.jpeg) no-repeat;
  background-size:cover;
  width:48%;
  height:200px;
  color:#fff;
  position:relative;
}

.company-text{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.recruit{
  background:url(../../img/img/recruit.jpg) no-repeat;
  background-size:cover;
  width:48%;
  height:200px;
  color:#fff;
  position:relative;
}

.recruit-text{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.company-text h2,
.recruit-text h2{
  font-size:20px;
  margin-bottom:10px;
}

.company-text p{
  font-size:8px;
  margin-left:25px;
}

.recruit-text p{
  font-size:8px;
  margin-left:15px;
}

#faq{
  background:#000;
  width:65%;
  margin:0 auto;
  height:100px;
  align-items:center;
  padding-left:20px;
  color:#fff;
  display:flex;
  font-size:20px;
  margin-bottom:100px;
}

.faq-text{
  font-size:12px;
  margin-left:285px;
}

#contact{
  background:url(../../img/img/contact-bg.jpg) no-repeat;
  background-size:cover;
  width:100%;
  height:300px;
  text-align:center;
  padding-top:150px;
  color:#fff;
}

.contact-wrap h2{
  padding-bottom:5px;
  font-size:25px;
}

.contact-wrap h3{
  padding-bottom:18px;
  font-size:10px;
}

.contact-wrap p:first-of-type{
  font-size:23px;
  padding-bottom:18px;
}

.contact-wrap p:last-of-type{
  font-size:8px;
  padding-bottom:18px;
}

.contact-wrap button{
  background-color:rgba(51, 51, 51, 0);
  color:#fff;
  padding:3px 10px;
}

#footer{
  background-color:#000;
  text-align:center;
  color:#fff;
  font-size:10px;
}